<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<style>
</style>
</head>
<h3>Library - home</h3>
<p>Thymeleaf is a template engine that renders java data objects into HTML on server side</p>

<br><br><br><br><br>
<p>Welcome home</p>
<br><br>

<a th:href="@{books/library}" class="btn btn-primary">go all books</a>

</html>